<%-include("partials/header")%>
<div class="form-container">
    <form action="/update/<%= postID %>" method="POST">
    <label for="postTitle">Post Title:</label>
    <input type="text" id="postTitle" name="postTitle" value="<%= post.title %>" required>
        <label for="postContent">Post Content:</label>
        <textarea id="postContent" name="postContent" rows="8" required><%= post.content %></textarea>
        <input type="submit" value="Save Changes">
    </form>
</div>

<%-include("partials/footer")%>