<%-include("partials/header")%>

<h1>Welcome to the Blog! ✏️</h1>

<% allPosts.forEach((post, index) => { %>
  <div class="post">
    <h2>
      <a href="/post/<%= index %>">
        <%= post.title %>
      </a>
    </h2>
    <p><%= post.content.substring(0, 100) %></p>
  </div>
<% }) %>

<%-include("partials/footer")%>